* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Mulish", sans-serif;
    font-size: 62.5%;
    font-weight: 600;
    color: #E1E1E6;
}

body {
    background: #1E1E1E;
    width: 100vw;
    padding-top: 7.2rem;
    display: grid;
    justify-content: center;
}

h1, h2 {
    font-weight: 900;
}

h1 {
    color: #02799D;
    font-size: 5.6rem;
    line-height: 7.2rem;
}

header p {
    font-size: 3.2rem;
    line-height: 4rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 4.8rem 6rem;
    margin: 6.2rem 0 11.4rem;
}

.card {
    background-color: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
}

.text { 
    padding: 2.4rem 3.2rem 3.2rem;
}

img {
    width: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

h2 {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
}

.card p {
    font-size: 1.8rem;
}

