body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    background: #2C2B3D;
    min-height: 100vh;
  }
  
  .page {
    width: 1200px;
    margin: 0 auto;
    padding-top: 65px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 107px;
  }
  
  ul {
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  ul li a:hover {
    font-weight: bold;
  }
  
  ul,
  h1,
  footer {
    font-family: "JetBrain Mono", monospace;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  section {
    width: 614px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    line-height: 40px;  
  }
  
  h1 span, p span {
    color: #00BFA6;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    margin-top: 60px;
  }
  
  footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 157px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer p {
    width: 570px;
    border-top: 1px solid #00BFA6;
    padding-top: 27px;
    margin: 0;
  }
  
  #padlock {
      position: fixed;
      bottom: 20px;
      left: 20px;
  }